@using PresentationLayer.Models;
@using DataLayer.Enums;
@model PageEditModel
@if (Model is DirectoryEditModel)
{
    var _currentModel = (DirectoryEditModel)Model;
    <form action="/Page/SaveDirectory" method="post">
        <input type="hidden" value="@ViewBag.PageType" name="PageType" />

        <h1>Edit Directory</h1>
        <input name="Id" type="hidden" value="@_currentModel.Id" />
        <input name="Title" value="@_currentModel.Title" />
        <textarea name="Html">@_currentModel.Html</textarea>


        <input type="submit" />
    </form>
}
else if (Model is MaterialEditModel)
{
    var _currentModel = (MaterialEditModel)Model;
    <form action="/Page/SaveMaterial" method="post">
        <input type="hidden" value="@ViewBag.PageType" name="PageType" />

        <h1>Edit Material</h1>

        <input name="Id" type="hidden" value="@_currentModel.Id" />
        <input name="Directoryid" value="@_currentModel.Directoryid" />
        <input name="Title" value="@_currentModel.Title" />
        <textarea name="Html">@_currentModel.Html</textarea>
        <input type="submit" />
    </form>
}
